@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Sedgwick+Ave+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
  font-family: "Changa", sans-serif;
  line-height: 1;
  --main-color: #4281A4 ;
  --card-color : #011638;
  --light-text-color : #E3DFFF;
  --dark-text-color: #000c1f;
  --button-color: #4281A4;
}

body {
  background: rgb(197,193,228);
  background: linear-gradient(120deg, rgba(197,193,228,1) 0%, rgba(214,212,230,1) 16%, rgba(227,223,255,1) 26%, rgba(213,209,236,1) 39%, rgba(220,216,249,1) 52%, rgba(224,223,228,1) 68%, rgba(227,223,255,1) 84%); 
}
